body {
  margin: 0;
  height: 100%;
}

.header-section {
  background-image: url("./img/image1.jpeg");
  background-position: 80% 85%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 100%;
}

h1,
h2,
h4,
li {
  font-family: "Changa One", cursive;
  color: #425a37;
}

h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

h3 {
  font-family: "Oxygen", sans-serif;
}

h5 {
  font-family: "Oxygen", sans-serif;
  color: #425a37;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  line-height: 175%;
}

ul {
  width: 90%;
  margin: 0;
  padding: 6% 0;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #425a37;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

a:hover {
  color: #54d617;
}

#title,
#tagline {
  width: 80%;
  margin: 5% 10%;
  text-align: left;
}

#tagline {
  color: white;
}

span {
  color: #54d617;
}

#about-section > h2,
#about-section > p,
#work-section > h2,
#work-section > p {
  padding: 3% 5%;
  margin: 0;
}

#work-section {
  background-color: #425a37;
  height: auto;
}

#work-thumbnails {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  margin: auto;
}

#work-section > h2 {
  color: white;
}

#about-section {
  padding: 5%;
}

#nc-link {
  color: #425a37;
}

#nc-link > a:hover {
  color: #54d617;
}

#about-text > p {
  padding: 0 5%;
}

#work-section {
  height: auto;
  padding: 5%;
}

.img-thumbnail {
  height: auto;
  width: 40%;
  min-width: 150px;
  display: block;
  margin: 5% 0;
  box-shadow: 5px 5px 5px black;
}

footer {
  padding: 5%;
  text-align: center;
}

#social-icons {
  display: flex;
  justify-content: center;
  gap: 15%;
}

.icon {
  height: 12.5%;
  width: 12.5%;
}

/* Projects Page */

.projects-header{
  background-color: #425a37;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-icn{
  align-self: flex-start;
  margin: 3% 0 0 10%;  
}

.home-icn-img{
  height: 33%;
  width: 33%;
}

.projects-page-title{
  color:#fff;
  text-shadow: none;
  margin: 2% 0 5% 0;
}

.individual-project{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0; 
}

.project-title{
  text-align: center;
}

.project-text-box{
  text-align: left;
  width: 80%;
}

.projects-thumbnail{
  width: 80%;
  min-width: 150px;
  margin: 5% 10%;
  box-shadow: 5px 5px 5px black;
}

@media only screen and (min-width: 768px) {
  #about-text {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #about-text > p {
    width: 45%;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  #email-box,
  #social-box {
    width: 40%;
    margin: 0 5%;
  }

  #email-box {
    text-align: left;
  }

  #email-box > h5 {
    padding-top: 2.5%;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 30pt;
  }

  h3 {
    font-size: 22pt;
  }

  h4 {
    font-size: 18pt;
  }

  h5 {
    font-size: 16pt;
  }

  #email-box > h5 {
    padding-top: 0;
  }

  li {
    font-size: 16pt;
  }

  #title,
  #tagline {
    margin: 2.5% 10%;
  }
  
/* Projects Page */

.main-projects-section{
  display: flex;
  flex-wrap: wrap;
}

.individual-project{
  width: 50%;
}
}

@media only screen and (min-width: 1440px) {
  ul {
    padding: 3% 0;
  }

  #email-box > h5 {
    padding-top: 2.5%;
  }

  /* Projects Page */

h1{
  font-size: 48pt;
}

h2{
  font-size: 36pt;
}

.individual-project{
  width: 33%;
}
}
