body {
  margin: 0;
  height: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("./img/image1.jpeg");
  background-position: 80% 85%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 100%;
}

h1,
h2,
h4,
li {
  font-family: "Changa One", cursive;
  color: #425a37;
}

h3 {
  font-family: "Oxygen", sans-serif;
}

h5 {
  font-family: "Oxygen", sans-serif;
  color: #425a37;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

ul {
  width: 84%;
  margin: 0;
  padding: 6% 0;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

li {
  display: inline;
  text-decoration: none;
  color: #425a37;
}

#title,
#tagline {
  width: 80%;
  margin: 5% 10%;
  text-align: left;
}

#tagline {
  color: white;
}

span {
  color: #54d617;
}

#about-section > h2,
#about-section > p,
#work-section > h2,
#work-section > p {
  padding: 5%;
  margin: 0;
}

#work-section {
  background-color: #425a37;
  height: auto;
}

#work-thumbnails {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  margin: auto;
}

#work-section > h2 {
  color: white;
}

#about-section {
  padding: 5%;
}

#about-text > p {
  padding: 0 5%;
}

#work-section {
  height: auto;
  padding: 5%;
}

.img-thumbnail {
  height: auto;
  width: 40%;
  min-width: 150px;
  display: block;
  margin: 5% 0;
}

footer {
  padding: 5%;
  text-align: center;
}

#social-icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 15%;
  width: 15%;
}

@media only screen and (min-width: 768px) {
  #about-text {
    display: flex;
    justify-content: space-around;
  }

  #about-text > p {
    width: 45%;
  }

  /* ul {
    justify-content: flex-start;
  } */
}
